<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>

<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>

<a href="https://www.youtube.com/channel/UCyK0IxH_ZJEcmXJOnN-iF3A"><h2 class="header-link">Videos</h2></a>

<a href="{{ "/books" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Books</h2></a>

<a href="https://samuraiowl.bandcamp.com"<h2 class="header-link">Music</h2></a>

<a href="{{ "/games" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Games</h2></a>

<a href="{{ "/artwork" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Artwork</h2></a>

<a href="https://forms.gle/VboZEoxCiTMcC2wh9"><h2 class="header-link">Contact</h2></a>
