<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Archive</h2></a>
<a href="{{ "/about" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">About</h2></a>
<a href="{{ "/videos" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Videos</h2></a>
<a href="{{ "/books" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Books</h2></a>
<a href="{{ "/music" | prepend: site.baseurl | replace: '//', '/' }}"><h2 class="header-link">Music</h2></a>
<a href="https://samuraiowl.github.io/triple_dragon.github.io/"><h3 class="header-link">Triple Dragon</h2></a>
